/* body  */

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* header start */

header {
    width: 100%;
    height: 52px;
    background-color: rgba(55, 71, 179,1);
    box-shadow: 0 5px 10px rgba(55, 71, 179,0.3);
    position: fixed;
    top: 0;
    left: 0;
}

div#pone_menu{
    display: none;
    width: auto;
    height: auto;
}
div#pone_menu>a{
    width: 52px;
    height: 52px;
    background: url(../images/pone_menu.svg) no-repeat center center;
}
.logo{
    width: 260px;
    height: 52px;
    background: url()
}
