body {
    position: relative;
    overflow: hidden;
    background-color: rgb(234, 234, 234);
}



/* header start */

header#header {
    width: 100%;
    height: 52px;
    position: fixed;
    background-color: rgba(0, 85, 204, 1);
    box-shadow: 0 5px 10px rgba(22, 111, 191, 0.15);
    box-sizing: border-box;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

div.pone_menu {
    display: none;
}

.logo {
    display: inline-block;
    width: 260px;
    height: 52px;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/logo.svg) no-repeat center center/138px;
}

.menu_small{
	display: inline-block;
	width: 52px;
	height: 52px;
	background: url(../images/menu.svg) no-repeat center center;
	position: absolute;
	left: 260px;
	top: 0;
}

.logo:active {
    box-shadow: none;
}

.user {
    width: 152px;
    height: auto;
    position: absolute;
    top: 0;
    left: 100%;
    margin-left: -172px;
}

.user .user_info {
    width: 100px;
    height: 52px;
    line-height: 52px;
}

.user .user_info a {
    display: inline-block;
    width: 100px;
    height: 52px;
}

.user .user_info a img {
    width: 32px;
    height: 32px;
    margin: 10px 5px;
}

.user .user_info a span {
	display: inline-block;
	width: 50px;
	font-size: 0.8em;
    line-height: 52px;
    vertical-align: top;
    color: rgb(255, 255, 255);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* 文本不换行，这样超出一行的部分被截取，显示... */
}

.user a.drop_out{
	display: inline-block;
	width: 52px;
	height: 52px;
	background: url(../images/log_in.svg) no-repeat center center;
	position: absolute;
	top: 0;
	left: 100px;
}
.user ul{
	width: 100px;
	height: auto;
	background-color: rgb(255, 255, 255);
	position: absolute;
	top: 52px;
	left: 0;
	box-sizing: border-box;
	border: 1px solid rgb(234, 234, 234);
	display: none;
}
.user ul li{
	width: 100%;
	height: auto;
}

.user li a{
	width: 100%;
	height: 52px;
	text-indent: 10px;
}
.user .user_info:hover ul{
	display: block;
}

@media screen and (max-width: 800px) {
	.logo{
		left: 50%;
		margin-left: -130px;
	}
	.menu_small{
		display: none;
	}
	.user{
		width: 52px;
		height: 52px;
		margin-left: -67px;
	}
	.user .user_info a img{
		margin: 10px;
	}
	.user .user_info a span,.user a.drop_out{
		display: none;
	}
	.user .user_info ul{
		margin-left: -48px;
	}
	header .pone_menu{
		display: block;
	}
	header a.pone_menu_icon{
		display: block;
		width: 52px;
		height: 52px;
		background: url(../images/pone_menu.svg) no-repeat center center;
	}
	header ul.menu{
		width: 100%;
		height: auto;
	}
	header ul.menu li{
		width: 100%;
		height: auto;
	}
	header ul.menu li a{
		display: inline-block;
		width: 100%;
		height: 52px;
		text-align: center;
		line-height: 52px;
		background-color: rgb(255, 255, 255);
		box-sizing: border-box;
		border-bottom: 1px solid rgba(234, 234, 234, 1.0)
	}
	header ul.menu li ul{
		/* display: none; */
		box-sizing: border-box;
		border-bottom: 1px solid rgba(234, 234, 234, 1.0)
	}
	header ul.menu li ul a{
		background-color: rgb(250, 250, 250);
		border: none;
	}
}