#left .content {
    height: auto;
    margin: 10px 20px;
}

form {
    height: 600px;
}

i {
    color: rgb(255, 0, 0)
}


/* form start */

#left .content form div {
    position: relative;

    width: 765px;
    height: 52px;
    margin-top: 2px;

    border-bottom: 1px solid rgb(234, 234, 234);
}
#left .content form div.password{
    position: relative;

    /* width: 765px; */
    height: 180px;
    margin-top: 2px;

    border-bottom: 1px solid rgb(234, 234, 234);
}

@media screen and (max-width: 1250px) {
    #left .content form div {
        position: relative;

        width: 100%;
    }
}

#left .content form div span {
    font-size: 16px;
    line-height: 52px;

    position: absolute;

    color: #9f9f9f;
}

#left .content form div.sele span {
    font-size: 12px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    color: #9f9f9f;
}

#left .content form div input,select,textarea {
    font-size: 16px;
    line-height: 32px;

    position: absolute;
    top: 20px;

    width: 100%;
    height: 32px;

    color: rgb(55, 71, 79);
    border: none;
    background: none;
}
textarea{
    height: 160px;
    border: 1px solid rgb(234, 234, 234);
    line-height: 1.5em;
}

#left .content form div.button {
    margin-top: 30px;

    border: none;
}

.button button {
    font-size: 16px;

    width: 148px;
    height: 40px;
    margin-top: 10px;
    margin-right: 20px;
}

button#modify_password {
    color: rgb(13, 171, 250);
    border: 1px solid rgb(13, 171, 250);
    background: none;
}

button#modify_info {
    color: rgb(255, 255, 255);
    border: none;
    background-color: rgb(13, 171, 250);
}