body {
    margin: 0;
    padding: 0;
    background-color: rgb(234, 234, 234);
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}

/* header start */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 52px;
    background-color: rgba(0, 85, 204, 1);
    box-shadow: 0 0 10px rgba(0, 85, 204, 0.15);
    z-index: 999;
}

.pone_menu {
    display: none;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 260px;
    height: 52px;
    background: url(../images/logo.svg) no-repeat center center;
    background-size: 138px;
}

.web_menu_small {
    position: absolute;
    top: 0;
    left: 260px;
    width: 52px;
    height: 52px;
    background: url(../images/menu.svg) no-repeat center center;
    background-size: 22px;
}

.user {
    position: absolute;
    top: 0;
    left: 100%;
    margin-left: -130px;
    width: 100px;
    height: auto;
    /* border:1px solid red; */
}

.user_name {
    display: block;
    ;
    width: 74px;
    height: 52px;
    background: url(../images/user.png) no-repeat;
    background-size: 22px;
    background-position: 0 15px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-family: Arial;
    line-height: 52px;
    padding-left: 32px;
}

.user_name span {
    font-size: 14px;
    font-family: Arial;
}

.user_content {
    display: none;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: auto;
    box-shadow: 0 5px 10px rgba(0, 85, 204, 0.15);
}

.user_content li {
    width: 100%;
    height: 44px;
    line-height: 44px;
    text-indent: 10px;
}

@media screen and (max-width: 800px) {
    .pone_menu {
        display: block;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
    }
    .pone_menu>a {
        width: 52px;
        height: 52px;
        position: absolute;
        top: 0;
        left: 0;
        background: url(../images/pone_menu.svg) no-repeat center center;
    }
    .pone_menu>ul {
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 52px;
        left: 0;
        overflow: auto;
    }
    .pone_menu>ul::-webkit-scrollbar {
        width: 0px;
    }
    .pone_menu li a {
        display: inline-block;
        width: 100%;
        height: auto;
        line-height: 52px;
        text-align: center;
        background-color: rgb(255, 255, 255);
        border-bottom: 1px solid rgb(234, 234, 234);
        background:rgb(255, 255, 255)
         url(../images/file.svg) no-repeat;
    }
    .pone_menu li ul {
        display: none;
        border-bottom: 1px solid rgb(234, 234, 234)
    }
    .pone_menu li>ul>li>a{
        background-color: rgb(250,250,250);
        border:none;
    }
    .logo {
        top: 0;
        left: 50%;
        margin-left: -130px;
    }
    .web_menu_small {
        display: none;
    }
    .user {
        width: 52px;
        height: auto;
        margin-left: -64px;
    }
    .user_name {
        display: block;
        width: 52px;
        height: 52px;
        padding: 0;
        background-position: center center;
    }
    .user_name span {
        display: none;
    }
}
