body {
    margin: 0;
    padding: 0;
    background-color: rgb(234, 234, 234);
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}






/* header start */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 52px;
    background-color: rgba(0, 85, 204, 1);
    box-shadow: 0 0 10px rgba(0, 85, 204, 1);
    z-index: 999;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15)
}

.pone_menu {
    display: none;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 260px;
    height: 52px;
    background: url(../images/logo.svg) no-repeat center center;
    background-size: 138px;
}

.web_menu_small {
    position: absolute;
    top: 0;
    left: 260px;
    width: 52px;
    height: 52px;
    background: url(../images/menu.svg) no-repeat center center;
    background-size: 22px;
}

.user {
    position: absolute;
    top: 0;
    left: 100%;
    margin-left: -130px;
    width: 100px;
    height: auto;
    /* border:1px solid red; */
}

.user_name {
    display: block;
    width: 74px;
    height: 52px;
    background: url(../images/user.png) no-repeat;
    background-size: 22px;
    background-position: 0 15px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-family: Arial;
    line-height: 52px;
    padding-left: 32px;
}

.user_name span {
    font-size: 1em;
    font-family: Arial;
}

.user_content {
    display: none;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: auto;
    box-shadow: 0 5px 10px rgba(0, 85, 204, 0.15);
}

.user_content li {
    width: 100%;
    height: 44px;
    line-height: 44px;
    text-indent: 10px;
}

.user_content li a {
    font-size: 0.8em;
    color: rgb(55, 71, 79);
}

.user:hover .user_content {
    display: block;
}

@media screen and (max-width: 800px) {
    .pone_menu {
        display: block;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
    }
    #icon_off,
    #icon_on {
        width: 52px;
        height: 52px;
        position: absolute;
        top: 0;
        left: 0;
        background: url(../images/pone_menu.svg) no-repeat center center;
        border: none;
    }
    #icon_on {
        display: none;
    }
    .pone_menu>ul {
        display: none;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 52px;
        left: 0;
        overflow: auto;
    }
    .pone_menu>ul::-webkit-scrollbar {
        width: 0px;
    }
    .pone_menu li a {
        display: inline-block;
        width: 100%;
        height: auto;
        line-height: 52px;
        text-align: center;
        /* background-color: rgb(255, 255, 255); */
        border-bottom: 1px solid rgb(234, 234, 234);
        background: rgb(255, 255, 255);
    }

    .pone_menu li ul {
        display: none;
        border-bottom: 1px solid rgb(234, 234, 234)
    }
    .pone_menu li>ul>li>a {
        background-color: rgb(250, 250, 250);
        border: none;
    }
    .logo {
        top: 0;
        left: 50%;
        margin-left: -130px;
    }
    .web_menu_small {
        display: none;
    }
    .user {
        width: 52px;
        height: auto;
        margin-left: -64px;
    }
    .user_name {
        display: block;
        width: 52px;
        height: 52px;
        padding: 0;
        background-position: center center;
    }
    .user_name span {
        display: none;
    }
    .user_content{
        width: 100px;
        position: absolute;
        left: -48px;
    }
}



/* header end */


/* search start */

form {
    position: absolute;
    top: 52px;
    left: 0;
    width: 260px;
    height: 70px;
    background-color: rgba(55, 71, 79, 1);
    z-index: 99;
}

form>div {
    margin: 20px 15px;
    height: 32px;
}

form #search {
    width: 100%;
    height: 100%;
    text-align: center;
    border: none;
    background: none;
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-size: 1em;
    border: 1px solid rgba(255, 255, 255, 0.4);
}

form #submit {
    width: 30px;
    height: 30px;
    border: none;
    background: url(../images/search.svg) no-repeat center center;
    position: absolute;
    top: 50%;
    margin-top: -14px;
    left: 100%;
    margin-left: -45px;
}





/* menu start */

#menu {
    position: relative;
    top: 122px;
    left: 0;
    background-color: rgba(55, 71, 79, 1);
    width: 260px;
    overflow-y: auto;
}

#menu>ul {
    width: 100%;
    height: auto;
}

#menu li {
    width: 100%;
    height: auto;
    position: relative;
}

#menu li:hover {
    background-color: rgba(255, 255, 255, 0.2)
}

#menu li a {
    display: block;
    width: 100%;
    height: 52px;
    line-height: 52px;
    text-indent: 52px;
    color: rgb(255, 255, 255);
}

#menu li a.home {
    background: url(../images/air-play.svg) no-repeat 17px center/18px;
}

#menu li a.user_info {
    background: url(../images/user.svg) no-repeat 17px center/18px;
}

#menu li a.task {
    background: url(../images/flag.svg) no-repeat 17px center/18px;
}

#menu li a.personnel {
    background: url(../images/clock.svg) no-repeat 17px center/18px;
}

#menu li a.finance {
    background: url(../images/pie_graph.svg) no-repeat 17px center/18px;
}

#menu li a.report {
    background: url(../images/paper.svg) no-repeat 17px center/18px;
}

#menu li a.post {
    background: url(../images/file.svg) no-repeat 17px center/18px;
}

#menu li a.feedback {
    background: url(../images/mail.svg) no-repeat 17px center/18px;
}

#menu li>ul {
    display: none;
}

footer.copy {
    width: 260px;
    height: 36px;
    text-align: center;
    position: fixed;
    z-index: 1;
    top: 100%;
    margin-top: -36px;
    line-height: 36px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.8em;
    background-color: rgba(55, 71, 79, 1);
}

@media screen and (max-width: 800px) {
    #menu {
        display: none;
    }
    form.search {
        display: none;
    }
}









/* content start */

#content {
    position: fixed;
    top: 52px;
    left: 260px;
    padding-right: 280px;
}

.content_header {
    width: 100%;
    height: 32px;
    background-color: rgb(255, 255, 255);
}

.content_header li {
    width: 200px;
    height: 32px;
    text-align: center;
    float: left;
    line-height: 32px;
    position: relative;
}

.content_header li:hover {
    box-sizing: border-box;
    border-left: 1px solid rgb(234, 234, 234);
    border-right: 1px solid rgb(234, 234, 234);
}

.content_header li:active {
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15),
    0 1px 2px rgba(0, 0, 0, 0.05);
}
.content_header li.sele:active {
    box-shadow: none;
}

.content_header li a {
    width: 32px;
    height: 32px;
    border: none;
    background: url(../images/close.svg) no-repeat center center/10px;
    position: absolute;
    top: 0;
    left: 100%;
    margin-left: -32px;
    display: none;
}

.content_header li a:active {
    background-color: rgb(234, 234, 234);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15),
    0 1px 2px rgba(0, 0, 0, 0.05);
}

.content_header li:hover a {
    display: block;
}

.content_header li.sele {
    background-color: rgb(234, 234, 234)
}
iframe{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

@media screen and (max-width: 800px) {
    #content {
        padding-left: 0;
    }
}